# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/
[Ll]ibrary/
[Aa]ssets/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ====== #
# Assets #
# ====== #
*.mat
*.jpg
*.png
*.tif
*.fbx
*.prefab
*.obj
*.meta
*.unity
*.blend
*.3[Dd][Ss]
*.tga
*.wav
*.bmp
*.avi
*.shader
*.psd
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
[Ii]con?
[Ee]hthumbs.db
[Tt]humbs.db
*.lnk
